In [ ]:
#Basic Syntax for python

##In this file,we will learn about the basic syntax about python#

1.Python is case sensitive

In [6]:
Name="Raju"
name="Ram"
print(Name)
print(name)

Raju
Ram

1.Eventhough the meaning of the Name and name are same but due the case sensitive charactersitic of python it returns differet variables as the declaration we have given in the code.

2.Indentation:
    Def :Indentation in python is used to define the structure and hierarchy of the code.consistent use of spaces (Commonly 4)ot tab is req.

In [7]:
Age =20
if Age>18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

"#" will use to denote the single line commands
''' 
used to
denote the multiline
commands
'''

3.Line Continuation
will use [\]after the line 1

In [8]:
Total = 10 + 20 + 30 + 40 + 50\
+ 60 + 70 + 80 + 90 + 100
print(Total)

550

4.Multile lines in single line

In [10]:
x=14;y=22;z=x*y
print(z)

308

#keywords
These are the reserved words which have predefined meanings and Functionality
Eg: If,Elif,class etc....

Variables:while declaring the variable do not use the keywords which the interpriter will consider them as keywords instead of variables:
Def:variables are used to store data that can be referenced and manipulated during program execution.
operator =,for assigning the value
Ex : a=20
Naming Rules:
Variable names must start with a letter (a-z, A-Z) or an underscore (_).
They can contain letters, numbers, and underscores.
They cannot start with a number.
They cannot contain spaces or special characters (e.g., !, @, #).
Variable names are case-sensitive (e.g., age, Age, and AGE are distinct variables).

Built-in types or Data types:
Numeric,
Dictionary,
Boolean,
Set,
Sequence Type.

Numeric which is nothing but interger unlike other previous programming languages in python we can assign variable in run time which means we can directly assign the value to the varible

In [1]:
a=10
b="Hello"
print(a)
print(b)

10
Hello

Tuple:
   A Tuple is a collection which is ordered and unchangeable,Tuples are written with round brackets()

In [3]:
a,b=10,20
print(a)    
print(b)

10
20

LIST :
    Which is similar like Tuple but in this we need to assign the variables in []

In [4]:
a,b,c=[10,"Hello",15.5]
print(a)
print(b)
print(c)

10
Hello
15.5

Extended Sequential unpacking:
                      It allows us to be more flexible in how we select portions of a sequence to assign

In [5]:
a,*b="Welcome to Python"
print(a)
print(b)

W
['e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

Multiple Target Assignment:
                          It assigns same values to the multiple variables

In [6]:
a=b=c="Hello"
print(a)
print(b)
print(c)

Hello
Hello
Hello

Augmented Assignment:
                     In this assignmet we will use the same varial for before and after applying the oprations

In [8]:
a=50
a=a+10
print(a)
a+=10
print(a)
print(type(a))

60
70
<class 'int'>

Type casting:
   If we need to concatinate 2 different types of variables such as if we needs to concatinate string variable with integer it won't allow,hence we use type casting

In [11]:
Type1="Hello"
Type2=20    
T=Type1+Type2
print(T)  # This will raise an error because we cannot concatenate string and integer directly

TypeError: can only concatenate str (not "int") to str

In [12]:
T=Type1+str(Type2)  # Type casting to convert integer to string
print(T)  # Now it will work as we have converted Type2 to string

Hello20

Input and Output Functions:
Input :
     This function is used to give the input value in runtime,Whenever we are using the input fun by default it will consider as string.
     1.Without req message
     2.With req message
     
To convert the type of the given variable need to use int,float,str functions,
It is not possibe to convert the string value to int in this case.

In [18]:
a=input()
print(a)
print(type(a))# By default input is taken as string
b=int(a)  # Type casting to convert string to integer
print(type(b))

890
<class 'str'>
<class 'int'>

In [15]:
a= input("Enter your name: ")
print(a)

Name

Split:
  Assigning multiple values in one variable using split,which differentiates the given variable using space.
  While giving the input need to give multiple variables by clicking the space between one variable to another variable.
  Will convert the given input values into list of the values.

In [28]:
a=input().split()
print(a)  # This will take input and split it into a list of words based on

['45', '46', '468', '38']

In [30]:
a=(input("Enter the value ").split())
print(type(a))

<class 'list'>

Output function:
            Print function is used display the output.

In [ ]:
print("Welcome to Jupyter Notebook")

Wecome to jupiter notebook

In [32]:
print("Hello")
print("Welcome to Jupyter Notebook")

Hello
Welcome to Jupyter Notebook

In [33]:
a=10
b="Hello"
print("The value of a :", a)
print("The value of b :", b)

The value of a : 10
The value of b : Hello

In [34]:
print("Hello", "every", "one")

Hello every one

End Operator:
            By using the End operator we can add the multiline print statements into single line.

In [35]:
print("Hello",end=" ")
print("every",end=" ")
print("one")

Hello every one

Formatting Specifiers:
             This is useful for number and float data types.

In [49]:
a=30
b=45.55
print("The value of a is: %d" % a)
print("The value of b is: %.2f" % b)
print("%d is interger and %f is Float"%(a,b))

The value of a is: 30
The value of b is: 45.55
30 is interger and 45.550000 is Float

In [37]:
A=3/4
print("The value of A is: %.2f" % A)

The value of A is: 0.75

In [38]:
A=3/4
print("The value of A is: %f" % A)

The value of A is: 0.750000

In [39]:
A=3/4
print("The value of A is: %.3f" % A)

The value of A is: 0.750

Seperation function:
                  It will use to define the separation between the words

In [48]:
print("Welcome to Juypter Notebook","- ","Thank you",sep=" ")

Welcome to Juypter Notebook -  Thank you

Oprators:
        1.Arthematic Operators
        2.Comparision Operators
        3.Logical

In [ ]:
#Addition(+)
a=30+20
print(a)

50

In [ ]:
#substraction(-)
a=30-20
print(a)

10

In [ ]:
#multiplication(*)
a=30*20
print(a)

600

In [ ]:
#devision(/)
a=30/20
print(a)

1.5

In [ ]:
#floor division:It will return the value without decimal(//)
a=30//20   
print(a)

1

In [ ]:
#modulus : it wil teturn the reminder value(%)
a=30%20
print(a)

10

In [ ]:
##Comparison Operators:Equl to(==)
# # It will compare two values and return True or False
a=10
b=40
a==b

False

In [63]:
str1="Hello"
str2="Hell"
str1==str2

False

In [66]:
str1="Hello"
str2="Hello"
str1==str2

True

In [70]:
##Comparison Operators:Not Equl to(!=)
# # It will compare two values and return True or False
a=10
b=10    
a!=b

False

In [71]:
a="Hai"
b="hai" 
a!=b

True

In [ ]:
##Comparison Operators:#Greater than(>)
# # It will compare two values and return True or False 
a=10
b=40    
a>b

False

In [ ]:
##Comparison Operators:#less than(<)
# # It will compare two values and return True or False 
a=10
b=40    
a<b

True

In [ ]:
##Comparison Operators:#Greater than or equal to(>=)
# # It will compare two values and return True or False 
a=10
b=40    
print(a>=b)

False

In [ ]:
##Comparison Operators:#Less than or equal to(<=)
# # It will compare two values and return True or False 
a=20
b=20
print(a<=b)

True

Logical Operators:
AND
OR
NOT

In [80]:
#And Operations:
#Any two values are compared using AND operator, it will return True only if both values are True.
#Otherwise, it will return False.
'''0 - False
   1 - True
0 1 - 0
1 1 - 1
0 0 - 0 
1 0 - 0
'''
#Eg
a=True
b=True
c=a and b
print(c)  # This will return True as both are True

True

In [81]:
#Eg2
a=False
b=True
d=a and b
print(d)  # This will return False as one of the value is False

False

In [83]:
#OR Operations:
#Any two values are compared using OR operator, it will return True if at least one value is True.
#Otherwise, it will return False.   
'''0 - False
   1 - True
0 1 - 1
1 1 - 1 
0 0 - 0
1 0 - 1
    '''
#Eg
a=True  
b=False
c=a or b    
print(c)  # This will return True as one of the value is True

True

In [84]:
#Eg2
a=True  
b=True
c=a or b    
print(c)

True

In [85]:
#NOT Operations:
#It will return the opposite value of the given value.  
a=True
b=False
c=not a
print(c)  # This will return False as a is True
d=not b
print(d)  # This will return True as b is False

False
True

In [93]:
# Simple Calculator

Num1=float(input("Enter Num1:"))
Num2=float(input("Enter Num2:"))
#Input
addition =Num1+Num2
subtraction = Num1-Num2
multiplication = Num1*Num2  
division = Num1/Num2    
floordivision = Num1//Num2
modulus = Num1%Num2 
exponential= Num1**Num2
#O/P
print("Addition:",addition)
print("Sub:",subtraction)
print("Mul:",multiplication)
print("Div %.2f"%(division))
print("Floor Div:",floordivision)
print("Mod:",modulus)
print("Exp:",exponential)

Addition: 123.0
Sub: 33.0
Mul: 3510.0
Div 1.73
Floor Div: 1.0
Mod: 33.0
Exp: 1.3939818560920605e+85