In [ ]:
#Basic Syntax for python

##In this file,we will learn about the basic syntax about python#

1.Python is case sensitive

In [6]:
Name="Raju"
name="Ram"
print(Name)
print(name)

Raju
Ram

1.Eventhough the meaning of the Name and name is same but due the case sensitive charactersitic of python it returns differet variables as the declaration we have given in the code.

2.Indentation:
    Def :Indentation in python is used to definethe structure and hierarchy of the code.consistent use of spaces (Commonly 4)ot tab is req.

In [7]:
Age =20
if Age>18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

"#" will use to denote the single line commands
''' 
used to
denote the multiline
commands
'''

3.Line Continuation
will use [\]after the line 1

In [8]:
Total = 10 + 20 + 30 + 40 + 50\
+ 60 + 70 + 80 + 90 + 100
print(Total)

550

Casting:
  If we need to specify the data type of a variable

In [1]:
x=int(3)
y=str("Hello")
float(3.5)

3.5

4.Multile lines in single line

In [10]:
x=14;y=22;z=x*y
print(z)

308

#keywords
These are the reserved words which have predefined meanings and Functionality
Eg: If,Elif,class etc....

Variables:while declaring the variable do not use the keywords which the interpriter will consider them as keywords instead of variables:
Def:variables are used to store data that can be referenced and manipulated during program execution.
operator =,for assigning the value
Ex : a=20
Naming Rules:
Variable names must start with a letter (a-z, A-Z) or an underscore (_).
They can contain letters, numbers, and underscores.
They cannot start with a number.
They cannot contain spaces or special characters (e.g., !, @, #).
Variable names are case-sensitive (e.g., age, Age, and AGE are distinct variables).

In [ ]:
'''Built-in types or Data types:
Text Type:	    str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	    set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	    NoneType
'''

Numeric which is nothing but interger unlike other previous programming languagesin python we can assign variable in run time which means we can directly assign the value to the varible

In [1]:
a=10
b="Hello"
print(a)
print(b)

10
Hello

In [ ]:
# Global and Local Variables:Global variable is defined outside of a function and can be accessed anywhere in the code, while a local variable is defined within a function and can only be accessed within that function.
#Local variables are created when a function is called and destroyed when the function exits. Global variables, on the other hand, persist throughout the program's execution.
#Example of Global and Local Variables
x="Python is a programming language" # Global variable
def myfun():
    x="Python is a scripting language" # Local variable
    print(x)
myfun() # This will print the local variable
print(x) # This will print the global variable

Python is a scripting language
Python is a programming language

Tuple:
    Tuple means assignning multiple values to the multiple variables in a single line is known as Tuple

In [3]:
a,b=10,20
print(a)    
print(b)

10
20

LIST :
    Which is similar like Tuple but in this we need to assign the variables in []

In [4]:
a,b,c=[10,"Hello",15.5]
print(a)
print(b)
print(c)

10
Hello
15.5

Extended Sequential unpacking:
                      It allows us to be more flexible in how we select portions of a sequence to assign

In [5]:
a,*b="Welcome to Python"
print(a)
print(b)

W
['e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

Multiple Target Assignment:
                          It assigns same values to the multiple variables

In [6]:
a=b=c="Hello"
print(a)
print(b)
print(c)

Hello
Hello
Hello

Augmented Assignment:
                     In this assignmet we will use the same varial for before and after applying the oprations

In [8]:
a=50
a=a+10
print(a)
a+=10
print(a)
print(type(a))

60
70
<class 'int'>

Type casting:
   If we need to concatinate 2 different types of variables such as if we needs to concatinate string variable with integer it won't allow,hence we use type casting

In [11]:
Type1="Hello"
Type2=20    
T=Type1+Type2
print(T)  # This will raise an error because we cannot concatenate string and integer directly

TypeError: can only concatenate str (not "int") to str

In [12]:
T=Type1+str(Type2)  # Type casting to convert integer to string
print(T)  # Now it will work as we have converted Type2 to string

Hello20

Input and Output Functions:
Input :
     This function is used to give the input value in runtime,Whenever we are using the input fun by default it will consider as string.
     1.Without req message
     2.With req message
     
To convert the type of the given variable need to use int,float,str functions,
It is not possibe to convert the string value to int in this case.

In [18]:
a=input()
print(a)
print(type(a))# By default input is taken as string
b=int(a)  # Type casting to convert string to integer
print(type(b))

890
<class 'str'>
<class 'int'>

In [15]:
a= input("Enter your name: ")
print(a)

Name

Split:
  Assigning multiple values in one variable using split,which differentiates the given variable using space.
  While giving the input need to give multiple variables by clicking the space between one variable to another variable.
  Will convert the given input values into list of the values.

In [23]:
a=input().split()
print(a)  # This will take input and split it into a list of words based on

['89', '78', '7595']

In [30]:
a=(input("Enter the value ").split())
print(type(a))

<class 'list'>

Output function:
            Print function is used display the output.

In [ ]:
print("Welcome to Jupyter Notebook")

Wecome to jupiter notebook

In [ ]:

print("Hello")
print("Welcome to Jupyter Notebook")

Hello
Welcome to Jupyter Notebook

In [33]:
a=10
b="Hello"
print("The value of a :", a)
print("The value of b :", b)

The value of a : 10
The value of b : Hello

In [34]:
print("Hello", "every", "one")

Hello every one

End Operator:
            By using the End operator we can add the multiline print statements into single line.

In [35]:
print("Hello",end=" ")
print("every",end=" ")
print("one")

Hello every one

Formatting Specifiers:
             This is useful for number and float data types.

In [49]:
a=30
b=45.55
print("The value of a is: %d" % a)
print("The value of b is: %.2f" % b)
print("%d is interger and %f is Float"%(a,b))

The value of a is: 30
The value of b is: 45.55
30 is interger and 45.550000 is Float

In [37]:
A=3/4
print("The value of A is: %.2f" % A)

The value of A is: 0.75

In [38]:
A=3/4
print("The value of A is: %f" % A)

The value of A is: 0.750000

In [39]:
A=3/4
print("The value of A is: %.3f" % A)

The value of A is: 0.750

Seperation function:
                  It will use to define the separation between the words

In [48]:
print("Welcome to Juypter Notebook","- ","Thank you",sep=" ")

Welcome to Juypter Notebook -  Thank you

Oprators:
        1.Arthematic Operators
        2.Comparision Operators
        3.Logical

In [ ]:
#Addition(+)
a=30+20
print(a)

50

In [ ]:
#substraction(-)
a=30-20
print(a)

10

In [ ]:
#multiplication(*)
a=30*20
print(a)

600

In [ ]:
#devision(/)
a=30/20
print(a)

1.5

In [ ]:
#floor division:It will return the value without decimal(//)
a=30//20   
print(a)

1

In [ ]:
#modulus : it wil teturn the reminder value(%)
a=30%20
print(a)

10

In [ ]:
##Comparison Operators:Equl to(==)
# # It will compare two values and return True or False
a=10
b=40
a==b

False

In [63]:
str1="Hello"
str2="Hell"
str1==str2

False

In [66]:
str1="Hello"
str2="Hello"
str1==str2

True

In [70]:
##Comparison Operators:Not Equl to(!=)
# # It will compare two values and return True or False
a=10
b=10    
a!=b

False

In [71]:
a="Hai"
b="hai" 
a!=b

True

In [ ]:
##Comparison Operators:#Greater than(>)
# # It will compare two values and return True or False 
a=10
b=40    
a>b

False

In [ ]:
##Comparison Operators:#less than(<)
# # It will compare two values and return True or False 
a=10
b=40    
a<b

True

In [ ]:
##Comparison Operators:#Greater than or equal to(>=)
# # It will compare two values and return True or False 
a=10
b=40    
print(a>=b)

False

In [ ]:
##Comparison Operators:#Less than or equal to(<=)
# # It will compare two values and return True or False 
a=20
b=20
print(a<=b)

True

Logical Operators:
AND
OR
NOT

In [80]:
#And Operations:
#Any two values are compared using AND operator, it will return True only if both values are True.
#Otherwise, it will return False.
'''0 - False
   1 - True
0 1 - 0
1 1 - 1
0 0 - 0 
1 0 - 0
'''
#Eg
a=True
b=True
c=a and b
print(c)  # This will return True as both are True

True

In [81]:
#Eg2
a=False
b=True
d=a and b
print(d)  # This will return False as one of the value is False

False

In [83]:
#OR Operations:
#Any two values are compared using OR operator, it will return True if at least one value is True.
#Otherwise, it will return False.   
'''0 - False
   1 - True
0 1 - 1
1 1 - 1 
0 0 - 0
1 0 - 1
    '''
#Eg
a=True  
b=False
c=a or b    
print(c)  # This will return True as one of the value is True

True

In [84]:
#Eg2
a=True  
b=True
c=a or b    
print(c)

True

In [85]:
#NOT Operations:
#It will return the opposite value of the given value.  
a=True
b=False
c=not a
print(c)  # This will return False as a is True
d=not b
print(d)  # This will return True as b is False

False
True

In [93]:
# Simple Calculator

Num1=float(input("Enter Num1:"))
Num2=float(input("Enter Num2:"))
#Input
addition =Num1+Num2
subtraction = Num1-Num2
multiplication = Num1*Num2  
division = Num1/Num2    
floordivision = Num1//Num2
modulus = Num1%Num2 
exponential= Num1**Num2
#O/P
print("Addition:",addition)
print("Sub:",subtraction)
print("Mul:",multiplication)
print("Div %.2f"%(division))
print("Floor Div:",floordivision)
print("Mod:",modulus)
print("Exp:",exponential)

Addition: 123.0
Sub: 33.0
Mul: 3510.0
Div 1.73
Floor Div: 1.0
Mod: 33.0
Exp: 1.3939818560920605e+85

In [8]:
for x in "Hello":
    print(x)  # This will print each character in the string "Hello"

H
e
l
l
o

In [3]:
#IF conditions:
#If the condition is True, then the block of code inside the if statement will be executed.
#If the condition is False, then the block of code inside the else statement will be executed   

#Eg:
a=10
if a<=20:
    print(a,",""The given number is less than or equal to 20")

10 ,The given number is less than or equal to 20

In [5]:
##Else condition:
#If the condition in the if statement is False, then the block of code inside the else statement will be executed.
#Eg:
Name=(input("Enter your name: "))
if Name=="Rama":
    print("Hello Rama")
else:
    print("Hello, you are not Rama")

Hello, you are not Rama

In [7]:
#elif Condition:(else if which means we consider it as the condition to check)
#If the condition in the if statement is False, then the block of code inside the elif statement will be executed.
#Eg:
a=float(input("Enter the value: "))
if a<10:
    print(a," is below 10")
elif a%2==0:
    print(a," is an even number")
else:
    print(a,"is greater than 10 and odd")

22.0  is an even number

In [8]:
#Nested IF conditions:
#It is used to check multiple conditions in a single if statement.  
#Eg:
a=int(input("Enter a number: "))
if a>0:
    if a%2==0:
        print(a,"is a positive even number")
    else:
        print(a,"is a positive odd number")

15 is a positive odd number

In [6]:
# Simple Calculator using IF conditions
Num1=float(input("Enter Num1:"))
Num2=float(input("Enter Num2:"))
operation = input("Enter the operation (+, -, *, /, //, %, **): ")
if operation == '+':
    result = Num1 + Num2    
    print("Addition:", result)
elif operation == '-':
    result = Num1 - Num2
    print("Subtraction:", result)    
elif operation == '*':
    result = Num1 * Num2    
    print("Multiplication:", result)
elif operation == '/':
    if Num2!==0:
        result = Num1 / Num2 
    print("Division: %.2f" % result)
 
elif operation == '//': 
    result = Num1 // Num2
    print("Floor Division:", result)
elif operation == '%':
    result = Num1 % Num2  
    print("Modulus:", result)  
elif operation == '**':
    result = Num1 ** Num2   
    print("Exponential:", result)
else:
    result = "Error: Invalid operation"

Division: 0.51

In [ ]:
##### DATA STRUCTURES:###
#List Operations:
#Lists are used to store multiple items in a single variable.
#Lists are created using square brackets [] and can contain items of different data types.  
Em_details = ["Raju", 25, "Engineer", 50000.0]
print("Name:", Em_details[0])
print("Age:", Em_details[1])
print("Profession:", Em_details[2]) 
print("Salary:", Em_details[3])

Name: Raju
Age: 25
Profession: Engineer
Salary: 50000.0

In [ ]:
#LIst Indexing:#List indexing is used to access the items in a list using their index.
#The index starts from 0, so the first item in the list has an index of 0, the second item has an index of 1, and so on.
#Negative indexing can also be used to access items from the end of the list, where -1 is the last item, -2 is the second last item, and so on.
Em_details = ["Raju", 25, "Engineer", 50000.0]
print("Name:", Em_details[-1])
print("Age:", Em_details[-2])
print("Profession:", Em_details[-3]) 
print("Salary:", Em_details[-4])

Name: 50000.0
Age: Engineer
Profession: 25
Salary: Raju

In [ ]:
Em_details = ["Raju", 25, "Engineer", 50000.0]
print(Em_details[-5:-1])  # This will print the entire list except the last element

['Raju', 25, 'Engineer']

In [16]:
#modify the list:
Em_details=["Raju",25,"Engineer",50000.0]
Em_details[2]="Data Scientist"  # Modifying the profession
print(Em_details)

['Raju', 25, 'Data Scientist', 50000.0]

In [ ]:

#List Methods:
#1.Append 
Em_details=["Raju",25,"Engineer",50000.0]
Em_details.append("9years of experience")  # Appending a new item to the list
print(Em_details)

['Raju', 25, 'Engineer', 50000.0, '9years of experience']

In [19]:
#2.Insert using index of the listed items
Em_details=["Raju",25,"Engineer",50000.0]
Em_details[2]="Data Scientist"  # Modifying the profession
Em_details.append("9years of experience")# Appending a new item to the list
Em_details.insert(0,"L2")  # Inserting a new item at the beginning of the list
print(Em_details)

['L2', 'Raju', 25, 'Data Scientist', 50000.0, '9years of experience']

In [ ]:
#3.Remove an item from the list:
Em_details=["Raju",25,"Engineer","Data Scients",50000.0]
Em_details.remove("Engineer")  # Removing the item "Engineer" from the list
print(Em_details)  # This will print the list after removing the item

['Raju', 25, 'Data Scients', 50000.0]

In [25]:
#4.Sorting the list:Sorting a list arranges the items in a specific order, either ascending or descending.
#Sorting can be done only between the same data types.
New_joinies=["Raju","Amala","Rani","Manoj"]
New_joinies.sort()  # This will sort the list in ascending order
print(New_joinies)  # This will print the sorted list

['Amala', 'Manoj', 'Raju', 'Rani']

In [30]:
#POP :
#The pop() method removes the item at the specified position in the list, or the last item if no index is specified.
Em_details=["Raju",25,"Engineer","Data Scients",50000.0]
Em_details.pop()  # This will remove the last item from the list
print(Em_details)  # This will print the list after removing the last item

['Raju', 25, 'Engineer', 'Data Scients']

In [32]:
#Count
#The count() method returns the number of times a specified value appears in the list.
Em_details=["Raju",25,"Engineer","Data Scients",50000.0,"Raju"]
print(Em_details.count("Raju"))  # This will count the number of times "Raju" appears in the list

2

In [33]:
#Reverse#The reverse() method reverses the order of the items in the list.
Em_details=["Raju",25,"Engineer",50000.0]
Em_details.reverse()  # This will reverse the order of the items in the list    
print(Em_details)  # This will print the reversed list

[50000.0, 'Engineer', 25, 'Raju']

In [34]:
#To clear the list:
Em_details=["Raju",25,"Engineer",50000.0]
Em_details.clear()
print(Em_details)

[]

In [ ]:
##Slicing the List:
#Slicing is used to access a portion of the list by specifying a range of indices.
Numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(Numbers[2:5])  # This will print the items from index 2 to index 4 (5 is not included)    
print(Numbers[:5])
print(Numbers[5:])  # This will print the items from index 5 to the end of the list
print(Numbers[::2]) # skips every second item in the list, starting from the first item.

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [14]:
#Iteratig through a list:Which is 
Fruits = ["Apple", "Banana", "Cherry", "Orange"]
for x in Fruits:
    print(x)  # This will print each fruit in the list

Apple
Banana
Cherry
Orange

In [ ]:
# Iterating through list with index:
Em_details = ["Raju", 25, "Engineer", 50000.0]
for index,Em_details in enumerate(Em_details):#enumarate is used to get the index and the value of the item in the list
    #print(index,Numbers)
    print(f"Index: {index}, Em_details: {Em_details}")  # This will print the index and the corresponding number in the list

Index: 0, Em_details: Raju
Index: 1, Em_details: 25
Index: 2, Em_details: Engineer
Index: 3, Em_details: 50000.0

In [13]:
# List Comprehension:which means it offers a shorter syntax when you want to create a new list based on the values of existing list.
New_joinies=["Raju","Amala","Rani","Manoj"]
New_joinies2=[]
for x in New_joinies:
    if "R" in x:
        New_joinies2.append(x)
print(New_joinies2)

['Raju', 'Rani']

In [ ]:
sqare_numbers =[x**2 for x in range(1,7)] # List comprehension
print(sqare_numbers)  # This will print the list of square numbers from 1 to 6

[1, 4, 9, 16, 25, 36]

In [19]:
##List Comprehension using If condition:
sqare_numbers =[x**2 for x in range(1,7)if x%2==0]  # This will create a list of square numbers from 1 to 6, but only for even numbers]
print("Even numbers:",sqare_numbers)  # This will print the list of square numbers for even numbers only

Even numbers: [4, 16, 36]

In [ ]:
##Nested List Comprehension:
#Nested list comprehension is a way to create a new list by applying an operation to each item in a nested list.
List1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
List2 =[x**2 for sublist in List1 for x in sublist if x%2==0]#sublist is used to iterate through the sublists in List1 and x is used to iterate through the items in the sublist
print(List2)
# This will create a new list with the square of each item in List1 that is even
combined_List = [[i,j]for i in List1 for j in List2]
print(combined_List)  # This will print the new list with the square of each item in

[4, 16, 36, 64]
[[[1, 2, 3], 4], [[1, 2, 3], 16], [[1, 2, 3], 36], [[1, 2, 3], 64], [[4, 5, 6], 4], [[4, 5, 6], 16], [[4, 5, 6], 36], [[4, 5, 6], 64], [[7, 8, 9], 4], [[7, 8, 9], 16], [[7, 8, 9], 36], [[7, 8, 9], 64]]

In [27]:
## List Coprehension with functions:
New_joinies=["Raju","Amala","Rani","Manoj"]
# List comprehension can also be used with functions to create a new list based on the results of applying a function to each item in the original list.
Length=[len(New_joinies)for New_joinies  in New_joinies]
print(Length)  # This will print the length of each item in the New_joinies list

[4, 5, 4, 5]

In [ ]:
## Copying a List:
#The copy() method is used to create a shallow copy of the list, which means it
New_joinies=["Raju","Amala","Rani","Manoj"]
New_joinies2=New_joinies.copy()  # This will create a copy of the New_joinies list
New_joinies2.append("Sita")  # Appending a new item to the copied
print(New_joinies2)

['Raju', 'Amala', 'Rani', 'Manoj', 'Sita']

In [42]:
#List creation by unsing split and aplying few conditions:
a=(input("Enter the value ").split())
for i in a:
    if i == "Raju":
        print("Found Raju in the list") 
        break
print(a)  # This will print the list created by splitting the input string

Found Raju in the list
['Kamali', 'Koda', 'Kavya', 'Raju', 'Ramya']

In [1]:
#Tuple:
#Tuples are used to store multiple items in a single variable, similar to lists.
#Tuples are created using parentheses () and can contain items of different data types.
tuple_example = ("Raju", 25, "Engineer", 50000.0)
print("Tuple Example:", tuple_example)  # This will print the tuple example

Tuple Example: ('Raju', 25, 'Engineer', 50000.0)

In [2]:
# In Tuples, the items are ordered, unchangeable, and allow duplicate values.
#Tuples are immutable, meaning once created, their items cannot be changed or modified.
tuple_example = ("Raju", 25, "Engineer", 50000.0)
tuple_example.replace("Engineer", "Data Scientist")  # This will not change the tuple as tuples are immutable

AttributeError: 'tuple' object has no attribute 'replace'

In [ ]:
##Concatenate tuples:
tpl=(1,2,3,4,5)
tp2=(6,7,8,9,10)
print(tpl + tp2)  # This will concatenate the two tuples

 # This will raise an error as tuples do not have an append method

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
print(sum(tpl+tp2))# This will sum the elements of the concatenated tuple
print(min(tpl+tp2))# This will find the minimum value in the concatenated tuple
print(max(tpl+tp2))# This will find the maximum value in the concatenated

55
1
10

In [ ]:
#Tuple Operations:

List1 = ((1, 2, 3), (4, 5, 6), (7, 8, 9))# Nested tuples
for sub_tuple in List1:
    print(sub_tuple) # This will print each sub-tuple in the nested tuple
    for i in sub_tuple:
        print(i)  # This will print each item in the sub-tuple without a new line

(1, 2, 3)
1
2
3
(4, 5, 6)
4
5
6
(7, 8, 9)
7
8
9

In [6]:
##Dictionary:#Dictionaries are used to store data values in key:value pairs.
#Dictionaries are created using curly braces {} and can contain items of different data types.
##Eg:
Emloyee_details = {"First_Name":"Rama","Middle_Name":"Krishna","Last_Name":"Ragava","Age":31,"Designation":"Data Scientist","Salary":50000.0}
print("Employee Details:", Emloyee_details)  # This will print the dictionary with employee details
for key, value in Emloyee_details.items():
    print(f"{key}: {value}")  # This will print each key-value pair in the dictionary

Employee Details: {'First_Name': 'Rama', 'Middle_Name': 'Krishna', 'Last_Name': 'Ragava', 'Age': 31, 'Designation': 'Data Scientist', 'Salary': 50000.0}
First_Name: Rama
Middle_Name: Krishna
Last_Name: Ragava
Age: 31
Designation: Data Scientist
Salary: 50000.0

In [10]:
#Accessing Dictionary Items:
#Dictionary items can be accessed using their keys.
#Eg:
print(Emloyee_details)
print("First Name:", Emloyee_details["First_Name"])  # This will print the value of the key "First_Name"pprint("Age:", Emloyee_details["Age"])  # This will print the value

{'First_Name': 'Rama', 'Middle_Name': 'Krishna', 'Last_Name': 'Ragava', 'Age': 31, 'Designation': 'Data Scientist', 'Salary': 50000.0}
First Name: Rama

In [9]:
#get() method:
#The get() method is used to access the value of a key in the dictionary.
print(Emloyee_details.get("First_Name"))  # This will print

Rama

In [12]:
#how to access only the keys:
print(Emloyee_details.keys())  # This will print the keys of the dictionary

dict_keys(['First_Name', 'Middle_Name', 'Last_Name', 'Age', 'Designation', 'Salary'])

In [ ]:
## Copying a Dictionary:
#The copy() method is used to create a shallow copy of the dictionary, which means it
#will create a new dictionary with the same key-value pairs as the original dictionary.
Employee_details = {"First_Name":"Rama","Middle_Name":"Krishna","Last_Name":"Ragava","Age":31,"Designation":"Data Scientist","Salary":50000.0}
Employee_details_copy1 =Employee_details.copy()  # This will create a copy of the Emloyee_details dictionary
print(Employee_details)# This will print the original dictionary
print(Employee_details_copy1)  # This will print the copied dictionary
Employee_details["Middle_Name"]="Rama"#Changes made in original dict
Employee_details["First_Name"]="Seetha"
print(Employee_details)#original dict after changes
print(Employee_details_copy1)# # This will print the copied dictionary after changes made in original dict

{'First_Name': 'Rama', 'Middle_Name': 'Krishna', 'Last_Name': 'Ragava', 'Age': 31, 'Designation': 'Data Scientist', 'Salary': 50000.0}
{'First_Name': 'Rama', 'Middle_Name': 'Krishna', 'Last_Name': 'Ragava', 'Age': 31, 'Designation': 'Data Scientist', 'Salary': 50000.0}
{'First_Name': 'Seetha', 'Middle_Name': 'Rama', 'Last_Name': 'Ragava', 'Age': 31, 'Designation': 'Data Scientist', 'Salary': 50000.0}
{'First_Name': 'Rama', 'Middle_Name': 'Krishna', 'Last_Name': 'Ragava', 'Age': 31, 'Designation': 'Data Scientist', 'Salary': 50000.0}

In [16]:
#Nested Dictionary:
Employee_details = {
    "Employee1": {"First_Name": "Rama", "Age": 31, "Designation": "Data Scientist"},
    "Employee2": {"First_Name": "Krishna", "Age": 28, "Designation": "Software Engineer"},
    "Employee3": {"First_Name": "Ragava", "Age": 35, "Designation": "Project Manager"}
}
print(Employee_details)
for key in Employee_details.keys():
    print(key)

{'Employee1': {'First_Name': 'Rama', 'Age': 31, 'Designation': 'Data Scientist'}, 'Employee2': {'First_Name': 'Krishna', 'Age': 28, 'Designation': 'Software Engineer'}, 'Employee3': {'First_Name': 'Ragava', 'Age': 35, 'Designation': 'Project Manager'}}
Employee1
Employee2
Employee3

In [17]:
for key, value in Employee_details.items():
    print(f"{key}: {value}")  # This will print each key-value pair in the nested dictionary

Employee1: {'First_Name': 'Rama', 'Age': 31, 'Designation': 'Data Scientist'}
Employee2: {'First_Name': 'Krishna', 'Age': 28, 'Designation': 'Software Engineer'}
Employee3: {'First_Name': 'Ragava', 'Age': 35, 'Designation': 'Project Manager'}

In [20]:
for Name,Details in Employee_details.items():
    print(f"{Name}:{Details}")
    for detail_key, detail_value in Details.items():
        print(f"  {detail_key}: {detail_value}")

Employee1:{'First_Name': 'Rama', 'Age': 31, 'Designation': 'Data Scientist'}
  First_Name: Rama
  Age: 31
  Designation: Data Scientist
Employee2:{'First_Name': 'Krishna', 'Age': 28, 'Designation': 'Software Engineer'}
  First_Name: Krishna
  Age: 28
  Designation: Software Engineer
Employee3:{'First_Name': 'Ragava', 'Age': 35, 'Designation': 'Project Manager'}
  First_Name: Ragava
  Age: 35
  Designation: Project Manager

In [29]:
#Dictionary Comprehension:
#Dictionary comprehension is a concise way to create dictionaries using a single line of code.
#Eg:
square_numbers={X:X**2 for X in range(0,11)}
print(square_numbers)  # This will print the dictionary with numbers as keys and their squares as values
Evens={values for values in square_numbers.values() if values%2 ==0}  # This will create a new dictionary with even numbers from the square_numbers dictionary
print(Evens)  # This will print the even numbers from the square_numbers dictionary
#  # This will print the even numbers from the square_numbers dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{0, 64, 4, 36, 100, 16}

In [ ]:
##Counting the frequency of the items in the dictionary:
numbers=[1,1,2,2,3,4,5,6,7,7,7]# General Mistakes the numbers or the values must be in either List or tuple but not in dictionary because if we have given the values in {} it will consider as set where set will not allow the duplicates.
fre={}
for num in numbers:
    if num in fre:
        fre[num]+= 1
    else:
        fre[num] = 1
print(fre)

{1: 2, 2: 2, 3: 1, 4: 1, 5: 1, 6: 1, 7: 3}

In [ ]:
#Merge two dictionaries:
#Eg:1
num1 = {"a": 1, "b": 2}
num2 = {"c": 3, "d": 4}
merge_dict = {**num1, **num2}  # This will merge num1 and num2 into merge_dict
print(merge_dict)  # This will print the merged dictionary
#The update() method is used to merge two dictionaries.
Employee_details1 = {"Employee1": {"First_Name": "Rama", "Age": 31, "Designation": "Data Scientist"}}
Employee_details2 = {"Employee2": {"First_Name": "Krishna", "Age": 28, "Designation": "Software Engineer"}}
Employee_details1.update(Employee_details2)  # This will merge Employee_details2 into Employee_details
print(Employee_details1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'Employee1': {'First_Name': 'Rama', 'Age': 31, 'Designation': 'Data Scientist'}, 'Employee2': {'First_Name': 'Krishna', 'Age': 28, 'Designation': 'Software Engineer'}}

In [ ]:
###Functions###
#Functions are reusable blocks of code that perform a specific task.
##def is used to define a function in Python.
##Syntax: def(key word) function_name(parameters):
                        #return value
# A function is a block of code that only runs when it is called. You can pass
def S(name):#Single perameter function:
    print("The name is :",name)
S(name="Laxmi")# Here laxmi is an argument passed to the function S

The name is : Laxmi

In [21]:
def sum(a,b):
    print(a + b)  # This will print the sum of a and b
sum(10,20)

30

In [ ]:
#Multiparameter function:

def sum(a, b):
    a = 1
    b = 5
    print(a + b)
sum(a=20,b=10)  # This will print the sum of a and b, but the values of a and b inside the function will be used instead of the arguments passed

6

In [ ]:
## Looping through a function:and nested if conditions:
def Ram(a,b):
    for i in range(a,b):
      if i%2 == 0:  # will print the even numbers from a to b-1
        print(i)  
        if i%3==0: 
          print(i)
      else:
        print("The given number does not follow the above if conditions")
   
Ram(0, 15)  # This will call the function Ram with a=1 and b=10, printing numbers from 1 to 9

0
0
The given number does not follow the above if conditions
2
The given number does not follow the above if conditions
4
The given number does not follow the above if conditions
6
6
The given number does not follow the above if conditions
8
The given number does not follow the above if conditions
10
The given number does not follow the above if conditions
12
12
The given number does not follow the above if conditions
14

In [41]:
##how to give value by using input:
def Name(a):
    print("Welcome",a)
n=input("Enter your name: ")
Name(a=n)

Welcome kiran

In [53]:
#arbitrary arguments:(*Perameter)
#while trying to give mutiple arguments into single perameter then it is called as arbitary perameter function:
#Eg:
def Name(*a):
  print("Welcome", a)# This will print the welcome message with the arbitrary arguments passed
Name("Raju","Ravali","Rani")# it will print the given arguments in tuple

Welcome ('Raju', 'Ravali', 'Rani')

In [ ]:
def a(**Numbers):
    print("The given numbers are:",Numbers)
a(n1=23,n2=56,n3=89,n4=56)#Print thearguments in a dictionary format with key and value

The given numbers are: {'n1': 23, 'n2': 56, 'n3': 89, 'n4': 56}

In [ ]:
##** using forloop:
def Emp_details(**details):
    for key, value in details.items():
        print(f"{key}: {value}")  # This will print each key-value pair in the dictionary
Emp_details(Name="Raju", Age=25, Profession="Data Analyst", Salary=50000)  # This will call the function with keyword arguments, printing each key-value pair in the dictionary

Name: Raju
Age: 25
Profession: Data Analyst
Salary: 50000

In [ ]:
##Nested functions:
def outer_fun():
     print("Outer function")#outer function
     def inner_fun():
        print("Inner function")#inner function
     inner_fun()
outer_fun()

Outer function
Inner function

In [ ]:
##Defing modules:

In [22]:
x=[21,15,10,18,25]
def myFun(age):
    return age > 18  # This function checks if the age is greater than or equal to 18

adult= filter(myFun,x)
print(set(adult))  # This will print the list of adults based on the condition defined in myFun

{25, 21}

In [ ]:
##Arrays:
# append()	Adds an element at the end of the list
# clear()	Removes all the elements from the list
# copy()	Returns a copy of the list
# count()	Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current list
# index()	Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	    Removes the element at the specified position
# remove()	Removes the first item with the specified value
# reverse()	Reverses the order of the list
# sort()	Sorts the list
###Note:Python does not have built-in support for Arrays, but Python Lists can be used instead